@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primaryColor: #FECC02;
  --primaryColorHover: #d2a903;
  --secondaryColor: #006AA7;
  --hoverPrimaryColor: #fecc0247;
}

select option {
  background-color: var(--background);
}

.logoMark::before {
  content: "";
  background-image: url('/images/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}

.slick-dots>li.slick-active>button::before {
  color: var(--primaryColor) !important;
}

.slick-dots>li>button::before {
  color: var(--foreground) !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* scrollBar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primaryColorHover);
}